{% extends "base.html" %}

{% block head_title %} About Us | {{ block.super }} {% endblock head_title %}

{% block content %}

<!-- Page Wrapper -->
	<div id="about-page-wrapper">
		
		<!--Title-->
		<header class="about-title">
			<h1>About Us</h1>
		</header>

		<!--Introduction-->
			<section id="intro">
				<div class="inner-intro">
					<h2>What is AR Club?</h2>
					<p>
						The Augmented Reality Club was founded in Fall 2016, at University of Maryland College Park. AR Club is an organization where members "Shape Reality." This is a place where Augmented & Mixed Reality explorers and developers get together to build fantastic applications, in teams. Throughout the semester, students will be able to take their ideas for Augmented Reality and bring them to life with the help of the AR community in AR Club. 
					</p>
				</div>
			</section>

		<!--Values-->
			<section id="values">
				<div class="inner-values">
					<h2>Values</h2>
					<ul>
						<li>
							<strong>Support:</strong> Our community strides to make every single member feel connected with the ultimate goal to learn and to build the future. AR Club is proud to have the responsibility to continuously create the environment needed to provide the tools needed for our members.
						</li></br>
						<li>
							<strong>Commitment:</strong> AR Club's members and community strives to inspire and continue to work on augmented reality development with conviction.
						</li></br>
						<li>
							<strong>Creation:</strong> Ultimately one of the most important reason we created this organization, was to build the future. AR Club's members are motivated individuals that want to create the next innovation of tomorrow. 

							This is what AR Club is, a group of individuals that will stay ahead of the new emerging technologies, such as augmented reality.
						</li>
					</ul>
				</div>
			</section>

		<!--Structure-->
			<section id="structure">
				<div class="inner-values">
					
				</div>

			</section>

		<!--Resources-->
			<section id="resources">

			</section>

	</div>

{% endblock %}
