{% extends "base.html" %}
{% block head_title %} Events | {{ block.super }} {% endblock head_title %}

{% block content %}
<!--Page Wrapper-->
	<div id="event-page-wrapper">
		<!--Title-->
			<section id="title-events">
				<span class="title-event"><strong>Event</strong></span>
				<span class="title-location"><strong>Location</strong></span>
				<span class="title-time"><strong>Time</strong></span>
			</section>

		<!--events-->
			<section id="events">
				<div class="inner-events">	
					
					<table class="event-table">
						<tr>
							<td class="align-event">Interest Meeting</td>
							<td class="align-location">Computer Science Room1</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">Interview Sessions</td>
							<td class="align-location">Computer Science Room2</td>
							<td class="align-time">7 PM</td>
						</tr>
						<tr>
							<td class="align-event">Workshops</td>
							<td class="align-location">Computer Science Room3</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">Reality Night</td>
							<td class="align-location">Computer Science Room4</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">.</td>
							<td class="align-location">Computer Science Room5</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">.</td>
							<td class="align-location">Computer Science Room6</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">.</td>
							<td class="align-location">Computer Science Room7</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">.</td>
							<td class="align-location">Computer Science Room8</td>
							<td class="align-time">5 PM</td>
						</tr>
						<tr>
							<td class="align-event">.</td>
							<td class="align-location">Computer Science Room9</td>
							<td class="align-time">5 PM</td>
						</tr>
					</table>
				</div>
			</section>

	</div>


{% endblock %}